.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  /* width: 100%; */
  background-color: rgb(0, 0, 0);
  padding: 0 16px;
  color: white;
}

.header-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .header-navbar__open {
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
} */

.header-navbar {
  display: flex !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 241px !important;
  animation: slideInLeft linear 0.2s;
  animation-fill-mode: forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.openNavbar__slide {
  display: flex !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 241px !important;
  animation: slideInRight linear 0.3s !important;
}

@keyframes slideInRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.header-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.header-icon:hover {
  background-color: rgb(83 82 82 / 75%);
  border-radius: 50%;
  padding: 10px;
}

.backgroud-icon {
  background-color: rgb(83 82 82 / 40%);
  border-radius: 50%;
  padding: 10px;
}

.header-logo {
  height: 80px;
  color: white;
  cursor: pointer;
}

.header-item2 {
  display: flex;
  width: 450px;
  justify-content: end;
  align-items: center;
}

.header-search {
  display: none;
  border-radius: 20px 0 0 20px;
  color: white;
  border: 1px solid grey;
  outline: none;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  background-color: transparent;
}

.header-icon__search {
  display: flex;
  align-items: center;
  justify-content: end;
  /* padding: 5 15px; */
  border-radius: 0 20px 20px 0;
  /* height: 37px; */
  /* padding: 0 10px; */
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.header-icon__search:hover {
  background-color: rgb(83 82 82 / 75%);
  border-radius: 50%;
}

.header-item3 {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.size-30 {
  font-size: 25px;
  padding: 10px;
}

.size-30:hover {
  padding: 7px;
  border-radius: 50%;
  background-color: rgb(83 82 82 / 75%);
}

.header-accout {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  padding: 10px;
}

@media (min-width: 768px) {
  /* .header-navbar {
    display: none !important;
    width: 241px !important;
  } */
  .header-search {
    display: flex;
  }
  .header-icon__search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83 82 82 / 75%);
    padding: 5 15px;
    border-radius: 0 20px 20px 0;
    border: 1px solid grey;
    height: 37px;
    padding: 0 10px;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  .header-icon__search:hover {
    border-radius: 0 20px 20px 0;
  }
}

@media (min-width: 1024px) {
}
