.side-bar {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  color: white;
  height: 60px;
  justify-content: space-between;
}

/* width */
.side-bar::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

/* Track */
.side-bar::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
.side-bar::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 10px;
}

/* Handle on hover */
.side-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button-sidebar {
  background: rgb(83 82 82 / 65%);
  justify-content: center;
  align-items: center;
  margin: 10px;
  word-wrap: normal;
}

.button-sidebar:hover {
  background: rgb(83 82 82 / 95%);
}
