.side-bar {
  display: flex;
  overflow-x: scroll;
  max-width: 85vw;
  width: 100%;
  color: white;
  justify-content: space-between;
}

.sidebar-bgr {
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 0;
  background-color: white;
  color: black;
}

.sidebar-bgr:hover {
  background-color: white;
}

.button-sidebar {
  background: rgb(83 82 82 / 65%);
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 0;
}

.button-sidebar:hover {
  background: rgb(83 82 82 / 95%);
}
